@mixin full-screen() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body.noscroll { overflow: hidden; }

.Arise-modal-container {

  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 250ms ease-in opacity;


  &.fixed {
    position: fixed;
  }

  @include full-screen();

  .Arise-modal-overlay {
    @include full-screen();
    background: rgba(0,0,0,0.5);
    z-index: 10000;
  }

  .Arise-modal-content {
    min-width: 1px;
    max-width: 90%;
    z-index: 10001;
  }

}

.Arise-popup {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 250ms ease-in opacity;
  z-index: -1;
}

.Arise-popup, .Arise-modal-container {

  &.Arise-show  {
    visibility: visible;
    z-index: 10000;
    opacity: 1;
  }

  &.Arise-hide-transition {
    visibility: visible;
    z-index: 10000;
    opacity: 0;
  }

}
